RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^cars$ cars.html [NC,L]
RewriteRule ^about$ about.html [NC,L]
RewriteRule ^contact$ contact.html [NC,L]
RewriteRule ^car-sites/urus$ car-sites/urus.html [NC,L]
RewriteRule ^car-sites/porsche918$ car-sites/porsche918.html [NC,L]
RewriteRule ^car-sites/rimac$ car-sites/rimac.html [NC,L]
RewriteRule ^car-sites/audir8$ car-sites/audir8.html [NC,L]
RewriteRule ^car-sites/chiron$ car-sites/chiron.html [NC,L]
RewriteRule ^car-sites/lykan$ car-sites/lykan.html [NC,L]