RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^cars$ cars.html [NC,L]
RewriteRule ^about$ about.html [NC,L]
RewriteRule ^contact$ contact.html [NC,L]
RewriteRule ^car-sites/urus$ car-sites/urus.html [NC,L]
RewriteRule ^car-sites/porsche918$ car-sites/porsche918.html [NC,L]
RewriteRule ^car-sites/rimac$ car-sites/rimac.html [NC,L]
RewriteRule ^car-sites/audir8$ car-sites/audir8.html [NC,L]
RewriteRule ^car-sites/chiron$ car-sites/chiron.html [NC,L]
RewriteRule ^car-sites/lykan$ car-sites/lykan.html [NC,L]
RewriteRule ^car-sites/apollo$ car-sites/apollo.html [NC,L]
RewriteRule ^car-sites/bentayga$ car-sites/bentayga.html [NC,L]
RewriteRule ^car-sites/bmw-acs8$ car-sites/bmw-acs8.html [NC,L]
RewriteRule ^car-sites/cadillac-xts$ car-sites/cadillac-xts.html [NC,L]
RewriteRule ^car-sites/carrera$ car-sites/carrera.html [NC,L]
RewriteRule ^car-sites/cayenne$ car-sites/cayenne.html [NC,L]
RewriteRule ^car-sites/continental$ car-sites/continental.html [NC,L]
RewriteRule ^car-sites/cullinan$ car-sites/cullinan.html [NC,L]
RewriteRule ^car-sites/dbs$ car-sites/dbs.html [NC,L]
RewriteRule ^car-sites/dbx$ car-sites/dbx.html [NC,L]
RewriteRule ^car-sites/f12tdf$ car-sites/f12tdf.html [NC,L]
RewriteRule ^car-sites/ftype$ car-sites/ftype.html [NC,L]
RewriteRule ^car-sites/ghibli-30$ car-sites/ghibli-30.html [NC,L]
RewriteRule ^car-sites/ghibli-nerissimo$ car-sites/ghibli-nerissimo.html [NC,L]
RewriteRule ^car-sites/gt3rs$ car-sites/gt3rs.html [NC,L]
RewriteRule ^car-sites/gtc4lusso$ car-sites/gtc4lusso.html [NC,L]
RewriteRule ^car-sites/jesko$ car-sites/jesko.html [NC,L]
RewriteRule ^car-sites/laferrari$ car-sites/laferrari.html [NC,L]
RewriteRule ^car-sites/macan$ car-sites/macan.html [NC,L]
RewriteRule ^car-sites/maybach-pullman$ car-sites/maybach-pullman.html [NC,L]
RewriteRule ^car-sites/one1$ car-sites/one1.html [NC,L]
RewriteRule ^car-sites/pagani$ car-sites/pagani.html [NC,L]
RewriteRule ^car-sites/panamera$ car-sites/panamera.html [NC,L]
RewriteRule ^car-sites/phantom$ car-sites/phantom.html [NC,L]
RewriteRule ^car-sites/regalia$ car-sites/regalia.html [NC,L]
RewriteRule ^car-sites/regera$ car-sites/regera.html [NC,L]
RewriteRule ^car-sites/rs6-dynamic$ car-sites/rs6-dynamic.html [NC,L]
RewriteRule ^car-sites/rs6$ car-sites/rs6.html [NC,L]
RewriteRule ^car-sites/rs7$ car-sites/rs7.html [NC,L]
RewriteRule ^car-sites/senna$ car-sites/senna.html [NC,L]
RewriteRule ^car-sites/sian$ car-sites/sian.html [NC,L]
RewriteRule ^car-sites/sq7$ car-sites/sq7.html [NC,L]
RewriteRule ^car-sites/titan$ car-sites/titan.html [NC,L]
RewriteRule ^car-sites/tuatara$ car-sites/tuatara.html [NC,L]
RewriteRule ^car-sites/vantage$ car-sites/vantage.html [NC,L]
RewriteRule ^car-sites/veyron$ car-sites/veyron.html [NC,L]
RewriteRule ^car-sites/voiture$ car-sites/voiture.html [NC,L]
RewriteRule ^car-sites/xes$ car-sites/xes.html [NC,L]